*{
  padding:0;
  margin:0;
  box-sizing: content-box;
}
/* this fixes it! */
/* html,
body{

  width:100%;
}
html{
  height:100%;
}
body{
  min-height: 100%;
} */
.container{
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  display:block;
}
.item-1{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:50%;
  text-align: center;
  background-color: red;
}
.item-2{
  text-align: center;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  width:50%;
  background-color: grey;
}
